Flask==1.1.1
requests==2.22.0
Flask_Cors==3.0.8
Flask_SQLAlchemy==2.4.0
GitPython==2.1.13
PyGithub==1.43.8
flask_jwt_extended==3.23.0
virtualenv==16.7.5
md2pdf==0.4
nbformat==4.4.0
ipykernel==5.1.3

